<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <title>Say Hi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>Hello!</h1>
</body>
</html>